<div class="card">
  <div class="question">
    {{getQuestion()}}
    <hr/>
    <div class="responses" *ngIf="!showInfo">
      <div class="true" (click)="answer(true)">Vrai</div>
      <div class="false" (click)="answer(false)">Faux</div>
    </div>
    <div class="answer" *ngIf="showInfo">
      <div class="info-container">
        <div class="wrong" *ngIf="showFalse">Faux !</div>
        <div class="correct" *ngIf="showTrue">Vrai !</div>
        <div class="info">
          {{getInfo()}}
        </div>
        <div>
          <button class="next" (click)="showNextQuestion()">Suivante</button>
        </div>
      </div>
    </div>
  </div>
</div>
