.card {
  margin: 5%;
  border: black solid 1px;
  border-radius: 5px 5px;
}

.question {
  margin: 5px;
  word-break: break-word;
  text-align: center;
}

.responses {
  display: flex;
  justify-content: space-around;
}

.true {
  background-color: lawngreen;
  margin: 20px;
  border-radius: 0 0 5px 5px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.false {
  background-color: red;
  margin: 20px;
  border-radius: 0 0 5px 5px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.wrong {
  color: red;
  font-size: xx-large;
  text-align: center;
}

.correct {
  color: green;
  font-size: xx-large;
  text-align: center;
}

.info {
  text-align: center;
}

.next {
  border: solid black 1px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
