<div>
  Ce site a été réalisé à l'occasion de la "Nuit de l'Info 2022"
  Pour plus d'informations vous pouvez vous référer aux sites suivants :
  <nav>

    <a href="https://www.sida-info-service.org/">Sida Info Service</a>
    <br><a href="https://www.sexualites-info-sante.fr/">Sexualités Info Santé</a>
    <br><a href="https://www.hepatites-info-service.org/">Hepatites Info Service</a>
    <br><a href="https://www.vih-info-soignants.fr/">VIH Info soignants</a>
    <br><a href="https://www.ligneazur.org">LigneAzur</a>
    <br><a href="https://www.instagram.com/sida_info_service/?hl=fr">Instagram de Sida Info Service</a>
    <br><a href="https://www.instagram.com/sexualites_info_sante/?hl=fr">Instagram de Sexualites Info Santé</a>
    <br><a href="https://www.facebook.com/SidaInfoService">Facebook Sida Info Service</a>
  </nav>
</div>
