.blackBackground{
  color: beige;
}
nav
{
    padding: 10px;
    margin: 10px;
    text-align: center;
  color:beige;

}
a
{
  text-decoration: none;
    padding: 10px;
}
a:visited, a:hover {
  color:beige;
}
